header {
    background-color: black;
    color: white;
}

.nav {
    background-color: grey;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
}
